// breakpoints
$sm: 36em;
$md: 48em;
$lg: 75em;
$xl: 90em;

// Colors
$textColor: #fff;
$secondaryTextColor: #c6c6c6;

$primaryColor: #353535;
$secondaryColor: #1a1a1a;
$terciaryColor: #252525;

$highlightColor: #f3ff0a;
