@import "../../../styles/variables";
@import "../../../styles/mixins";

$firstChildBg: #e7e5e5;
$hoverBg: #eeeeee;

$borderRadius: 2px;
$boxShadow: 0 0 10px 2px #00000033;

.suggestions {
  max-height: 240px;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .suggestion {
    background-color: #ffffff;
    border: none;
    border-radius: $borderRadius;
    color: black;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.6rem;

    &:first-child {
      background-color: $firstChildBg;
    }

    &:hover {
      background-color: $hoverBg;
    }

    &__title {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }

    &__desc {
      color: $secondaryTextColor;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
