@import "../../styles/variables";

$inputBorderRadius: 2px;
$inputBoxShadow: 0 0 10px 2px #00000033;

.map {
  position: relative;
  .form {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1;

    .suggestions,
    &__input {
      width: 250px;
    }

    .input {
      align-items: center;
      background-color: #ffffff;
      border: 1px solid transparent;
      border-radius: $inputBorderRadius;
      box-shadow: $inputBoxShadow;
      display: flex;
      padding: 0.6rem;

      &:focus-within {
        border-color: #9e9e9e;
      }

      &__icon {
        color: black;
        margin-right: 1rem;
      }

      &__bar {
        border: none;
        outline: none;
      }
    }
  }

  .map-container {
    height: 600px;
    position: relative;

    .mapboxgl-canvas {
      height: 600px;
    }
  }
}
