$borderRadius: 2px;
$boxShadow: 0 0 10px 2px #00000033;

.suggestion {
  background-color: #ffffff;
  border: none;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  color: black;
  padding: 0.6rem;
}
